.find-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.search-container {
    display: flex;
    gap: 8px;
}

.search input {
    border: 1.5px solid gray;
    border-radius: 5px;
    height: 20px;
    font-size: 12px;
}

.search-button button {
    border: 1.5px solid gray;
    border-radius: 5px;
    width: 55px;
    height: 22px;

}

.search-button button:hover {
    color: purple;
    cursor: pointer;
}


.filters-container {
    display: flex;
    gap: 8px;
}

.filter-group select {
    border: 1.5px solid gray;
    border-radius: 5px;
    width: 100px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 20px;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.02);
}