* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: seashell;
}

.item-lista {
    display: inline-flex;
    padding: 0.3rem;
}

.item-lista a {
    text-decoration: none;
    color: aliceblue;
}

.item-lista a:hover {
    color: blueviolet;
}